body {
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 0px;
  background-color: #2f2f2f;
  font-weight: 500;
  font-size: 20px;
}

div, span {
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 50px;
  padding: 10px;
  width: 200px;
  height: 200px;
}

#d1 {
  display: inline;
}

#s1 {
  display: inline-block;
}

#d2 {
  display: none;
 /* visibility: hidden; */
}

#s2 {
  display: block;
}
