body {
  background-color: #222222;
  color: #fff;
  font-family: Arial;
}

html,
body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.container {
  height: 100vh;
  width: 100vw;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #ff4848;
  position: fixed;
  top: 0px;
  padding: 10px;
}

.header div {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav {
  width: 200px;
  height: 100%;
  background-color: #e4ff48;
  position: fixed;
  left: 0px;
  top: 80px;
  padding: 10px;
  overflow: scroll;
}

.nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav div ul li {
  list-style: none;
}

.nav div ul li a {
  color: #141414;
  text-decoration: none;
  margin-bottom: 5px;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #48a7ff;
  align-items: center;
  justify-content: center;
  overflow: auto;
  flex-direction: column;
}

.main img {
  height: 600px;
  width: 600px;
  margin-top: 60px;
}

.main p {
  color: #e4ff48;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .nav {
    display: none;
  }
}
