body {
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 100px;
  background-color: #2f2f2f;
  font-weight: 500;
}

#d1 {
  width: 300px;
  height: 200px;
  border: 10px solid #e72c2c;
  padding: 25px;
  box-sizing: border-box;
}

#d2 {
  width: 300px;
  height: 200px;
  border: 10px solid #1879e9;
  padding: 25px;
  box-sizing: content-box;
}