body {
  background-color: #222222;
  color: #fff;
  font-family: Arial;
}

html,
body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

* {
  margin: 0px;
  outline: 0px;
}

button {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 200px auto;
}

.item {
  background-color: #ff4848;
  border: 5px solid #fff;
  border-radius: 10px;
  text-align: center;
}

#item2 {
  height: 400px;
}
